@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url("assets/fonts/lato/Lato-Light.woff") format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url("assets/fonts/lato/Lato-Medium.woff") format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url("assets/fonts/lato/Lato-Bold.woff") format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url("assets/fonts/lato/Lato-Black.woff") format('woff');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;

}

#topbar {
    position: absolute;
    background: rgba(35,35,35,.8);
    box-shadow: 2px 2px 5px #888;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 10;
  }


#map {
    position: absolute;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    overflow: hidden;
    z-index: 0;
}
